<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Have questions about this app? <a href="../../">Site Map</a> or contact our <a href="../../getting-started/">Developer</a>.</p>
  </div>
</footer>
