<nav class="scrollhide-nav">
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title"><i class="fa fa-snowflake-o" aria-hidden="true"></i></div>
  </div>
  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class=""> <img class="app-logo" src="/stylesheets/cashvcesvg.svg" /></li>
        <li class="menu-text">California Shaved Ice</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#0">Home</a></li>
        <li><a href="#0">Contact</a></li>
        <li><a href="#0">Services</a></li>
      </ul>
    </div>
  </div>
</nav>

