<header class="sticky-shrinknav-header">
  <h1 class="sticky-shrinknav-header-title">California Shaved Ice</h1>
  <ul class="menu align-center sticky-shrinknav-menu">
    <li><a href="#" id="homeBtn">Home</a></li>
    <li><a href="#" id="aboutBtn">About</a></li>
    <li><a href="#" id="galleryBtn">Gallery</a></li>
    <li><a href="#" id="contactBtn">Contact</a></li>
  </ul>
</header>
