<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container-fluid">
  <% include ../partials/main.ejs %>
  <% include ../partials/footer.ejs %>
</div>
</body>
</html>
