<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/main.ejs %>
  <% include ../partials/footer.ejs %>
  <% include ../partials/body_scripts.ejs %>
</body>
</html>
