<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/main.ejs %>
  <% include ../partials/footer.ejs %>
  <script src="app.js"></script>
</body>
</html>
